/* Put your custom CSS here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: burlywood;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
select {
  width: 30vw;
  height: 8vh;
}
option {
  background-color: cadetblue;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  max-width: 22%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: crimson;
}
